<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.sonny.rhsgpa">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppStyle">


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>

        <activity
            android:name=".CourseMenu"
            android:label="Choose a Category"
            android:parentActivityName=".EditClass"
            >

        </activity>

        <activity
            android:name=".BusinessAndMarketing"
            android:label="Business And Marketing"
            android:parentActivityName=".CourseMenu"
            >

        </activity>

        <activity
            android:name=".EditClass"
            android:label="Add a Course"
            android:parentActivityName=".MainActivity"
            >

        </activity>



        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.app.sonny.rhsgpa.MainActivity" />





    </application>

</manifest>


